.copyright {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright > p {
  user-select: none;
}

.copyright__image {
  height: 14rem;
  margin-bottom: 1.25rem;
}
