.chatInput {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.chatInput__inputContainer {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
}

.chatInput__inputContainer > textarea {
  width: 100%;
  outline: none;
  resize: none;
  overflow: hidden;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.chatInput__buttons {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
