/*Init*/
.text__center {
  text-align: center;
}

/*Form*/
.signup {
  flex: 1;
  display: grid;
  place-items: center;
}
.signup__container {
  padding: 40px 50px;
  background-color: #fff;
  width: 100%;
  max-width: 470px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.signup__heading {
  font-size: 40px;
  font-weight: bold;
  color: #373941;
  text-align: center;
  margin-bottom: 35px;
}
.signup__field {
  position: relative;
}
.signup__form .MuiOutlinedInput-root {
  border-radius: 8px !important;
}
.signup__back {
  border: none !important;
  background-color: #999999 !important;
}

/*End*/
