.message {
  margin-bottom: 0.75rem;
  display: flex;
}

.message--yourUser {
  justify-content: flex-end;
}

.message__info {
  margin-left: 0.75rem;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f7;
  padding: 0.5rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.message__info--yourUser {
  background-color: #e5efff;
  align-items: flex-end;
}

.message__info--media {
  background: none;
  box-shadow: none;
}

.message__text,
.message__image,
.message__video {
  max-width: 25em;
  margin: 0.25rem 0 !important;
}

.message__text {
  word-wrap: break-word;
}

.message__image {
  cursor: pointer;
  width: 100%;
  height: auto;
}

.message__image > img {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
}

.message__image--preview {
  pointer-events: none;
}

.message__previewActions {
  display: flex;
}
