.navbar {
  display: flex;
  align-items: center;
  padding: 0 0.5rem 0 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  user-select: none;
}

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  flex: 0.2;
}

.navbar__logo > img {
  height: 3.25rem;
  margin-right: 0.5rem;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex: 0.6;
}

.navbar__links a {
  text-decoration: none;
  color: #65676b;
}

.navbar__link > li {
  padding: 0.5rem 2rem;
  margin: 0 0.25rem;
}

.navbar__link .MuiSvgIcon-root {
  font-size: 1.75rem;
}

.navbar__link > li:hover {
  background-color: #f1f2f5;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.navbar__link > li:not(:hover) {
  transition: all 0.2s ease;
}

.navbar__link--active > li {
  color: blue;
  border-bottom: 0.25rem solid blue;
}

.navbar__link--active > li:hover {
  border-radius: 0;
  background: none;
}

.navbar__userSetting {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__userInfo {
  display: flex;
  align-items: center;
  background-color: #f1f2f5;
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
