.inboxList {
  display: flex;
  flex-direction: column;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0.1);
  height: 34.75rem;
  user-select: none;
}

.inboxList__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.875rem 0.25rem 0.875rem 1rem;
}

.inboxList__inboxes {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
  scroll-behavior: smooth;
}

.inboxList__inboxes::-webkit-scrollbar {
  width: 0rem;
}

.inboxList__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.inboxList__filter > p {
  cursor: pointer;
}

.inboxList__filter > p:last-child {
  color: #0b81ff;
}

.inboxList__filterOptions {
  display: flex;
  align-items: center;
  cursor: pointer;
}
