.searchItem {
  width: 35vw;
  background-color: white;
  margin-bottom: 1.25rem;
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchItem__info {
  display: flex;
  cursor: pointer;
  align-items: center;
}
