/*Form*/
.signin {
  flex: 1;
  display: grid;
  place-items: center;
}
.signin__container {
  padding: 50px;
  background-color: #fff;
  width: 100%;
  max-width: 470px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.signin__heading {
  font-size: 40px;
  font-weight: bold;
  color: #373941;
  text-align: center;
  margin-bottom: 35px;
}
.signin__field {
  position: relative;
}
.signin__input {
  border: 1px solid #eee;
  border-radius: 4px;
  width: 96%;
  height: 50px;
  padding-left: 20px;
}
.signin__input:focus {
  border-color: #6a5af9;
}
.signin__label {
  position: absolute;
  transform: translateY(-50%);
  left: 21px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition: 0.25s ease;
}
.signin__submit {
  color: white;
  font-size: 18px;
  text-align: center;
  border: 0;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  margin: 25px 0px;
}
.signin__now {
  color: red;
  text-decoration: none;
  font-weight: bold;
}

/*End*/
