/*Form*/
.signin {
  flex: 1;
  display: grid;
  place-items: center;
}
.signin__container {
  padding: 40px 50px;
  background-color: #fff;
  width: 100%;
  max-width: 470px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.signin__heading {
  font-size: 40px;
  font-weight: bold;
  color: #373941;
  text-align: center;
  margin-bottom: 35px;
}
.signin__field {
  position: relative;
}
.signin__submit {
  background-color: rgba(111, 40, 249, 0.9) !important;
}
.signin__submit:hover {
  background-color: rgba(111, 40, 249, 1) !important;
}
.signin__back {
  border: none !important;
  background-color: #999999 !important;
}
.signin__goToSignUp:hover {
  background: none !important;
}

/*End*/

.signin .css-1d6wzja-MuiButton-startIcon {
  margin: 0 !important;
}
