.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1.75rem;
  margin: 3.5rem 0 2rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  width: 35vw;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.search__input {
  outline: none;
  border: none;
  width: 100%;
  padding-left: 1.25rem;
  font-size: inherit;
  margin-right: 0.5rem;
  border-top-left-radius: 1.75rem;
  border-bottom-left-radius: 1.75rem;
}

.search__suggestKeywords {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.search__suggest {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.search__scrollToTop {
  position: fixed !important;
  bottom: 1.5rem !important;
  right: 1.5rem !important;
}
