.chatScreenOverlay {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2.25rem 0;
}

.chatScreenOverlay__groupAvatar .MuiAvatar-root {
  width: 3.125rem !important;
  height: 3.125rem !important;
}
