.notificationsList {
  width: 100%;
  height: 100%;
  max-width: 23.125rem;
  max-height: 29.375rem;
  overflow-y: auto;

  /* Config for hiding scrollbar */
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 1rem, black 1rem);
  mask-size: 100% 1000rem;
  mask-position: left bottom;

  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 1rem, black 1rem);
  -webkit-mask-size: 100% 1000rem;
  -webkit-mask-position: left bottom;

  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  /* End of config for hiding scrollbar */
}

.notificationsList:hover {
  -webkit-mask-position: left top;
}

.notificationsList::-webkit-scrollbar {
  width: 0.5rem;
}

.notificationsList::-webkit-scrollbar-track {
  background: none;
}

.notificationsList::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 0.25rem;
}
