.inboxMessages {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.inboxMessages__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  user-select: none;
  z-index: 1;
}

.inboxMessages__headerLeft {
  display: flex;
  align-items: center;
}

.inboxMessages__info {
  margin-left: 0.75rem !important;
  display: flex;
  flex-direction: column;
}

.inboxMessages__info > h6 {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 20em;
}

.inboxMessages__info > span {
  display: flex;
  align-items: center;
}

.inboxMessages__messages {
  list-style: none;
  padding: 1.25rem 0.5rem 0 1rem;
  overflow-y: auto;
  height: 22.75rem;
  scroll-behavior: smooth;

  /* Config for hiding scrollbar */
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 0.5rem, black 0.5rem);
  mask-size: 100% 1000rem;
  mask-position: left bottom;

  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 0.5rem, black 0.5rem);
  -webkit-mask-size: 100% 1000rem;
  -webkit-mask-position: left bottom;

  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
  /* End of config for hiding scrollbar */
}

.inboxMessages__messages:hover {
  -webkit-mask-position: left top;
}

.inboxMessages__messages::-webkit-scrollbar {
  width: 0.5rem;
}

.inboxMessages__messages::-webkit-scrollbar-track {
  background: #f1f2f5;
}

.inboxMessages__messages::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 0.5rem;
}
