.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider__leftArrow,
.slider__rightArrow {
  position: absolute;
  cursor: pointer;
  top: 45%;
  transform: translateY(-50%);
  padding: 1rem;
  z-index: 99;
}

.slider__leftArrow {
  left: 17.5%;
}

.slider__rightArrow {
  right: 17.5%;
}

.slider__leftArrow > svg,
.slider__rightArrow > svg {
  font-size: 3rem;
}

.slider__leftArrow:hover svg,
.slider__rightArrow:hover svg {
  color: #0b81ff;
  transition: all 0.3s ease;
}

.slider__leftArrow:not(:hover) svg,
.slider__rightArrow:not(:hover) svg {
  transition: all 0.3s ease;
}

.slider__slides {
  display: flex;
  transition: transform 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
