.slide {
  flex: 1 0 100%;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide__image {
  width: auto;
  height: 27rem;
  display: flex;
}

.slide__info {
  text-align: center;
}
