.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  user-select: none;
  z-index: 99;
  position: sticky;
  top: 0;
}

.navbar__logo {
  flex: 0.2;
}

.navbar__logo > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.navbar__logo > a > img {
  height: 3.25rem;
  margin-right: 0.5rem;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex: 0.6;
}

.navbar__links a {
  text-decoration: none;
  color: #65676b;
}

.navbar__link > li {
  padding: 0.5rem 2.25rem;
  margin: 0 0.25rem;
  border-top: 0.25rem solid white;
  border-bottom: 0.25rem solid white;
}

.navbar__link .MuiSvgIcon-root {
  font-size: 1.75rem;
}

.navbar__link > li:hover {
  background-color: #f1f2f5;
  transition: all 0.3s ease;
  border-radius: 0.5rem;
}

.navbar__link > li:not(:hover) {
  transition: all 0.2s ease;
}

.navbar__link--active > li {
  color: #0b81ff;
  border-bottom: 0.25rem solid #0b81ff;
}

.navbar__link--active > li:hover {
  border-radius: 0;
  background: none;
}

.navbar__userSetting {
  flex: 0.2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar__userInfo {
  display: flex;
  align-items: center;
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.navbar__userInfo:hover {
  background-color: #f1f2f5;
  transition: all 0.3s ease;
}

.navbar__userInfo:not(:hover) {
  transition: all 0.2s ease;
}

.navbar__settingButton {
  color: #65676b !important;
  background-color: rgb(241, 242, 245, 1) !important;
}

.navbar__settingButton:not(:last-child) {
  margin-right: 0.5rem !important;
}

.navbar .css-to4x1n-MuiBadge-badge {
  background-color: rgb(255, 77, 79) !important;
  padding: 0 2px !important;
  font-size: 0.65rem !important;
}
